<%= form_for([@event, @potluck_item], :html=>{:id=>"potluckItemsForm"}) do |f| %>
  <% if @potluck_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@potluck_item.errors.count, "error") %> prohibited this potluck_item from being saved:</h2>

      <ul>
      <% @potluck_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<input name="potluck_item[event_id]" id="potluck_item_event_id" type="hidden" value="<%= @event.id %>">

	<p>
	<%= f.label :category %>
	<%= f.text_field :category %>
	</p>

	<p>
		<%= f.label :host_quantity %>
		<%= f.text_field :host_quantity %>
	</p>

	<p>
		<%= f.hidden_field :dishes %>
	</p>

	<% if @potluck_item.dishes.blank? %>
		<div id="list_items">
			<label>Items: </label>
			<input type="text" class="input-large" id="first_item" placeholder="List item here ...">
			<input type="button" id="add_more_items" class="btn btn-success" value="Add more items" />
	</div>
  <% else %>
			<div id="list_items">
			<label>Items: </label>
		<% @potluck_item.dishes.each_with_index do |dish, index| %>
				<div id="dish_<%= index %>">
					<input type='text' class='input-large' value="<%= dish %>">
					<% if index == 0 %>
						<input type="button" id="add_more_items" class="btn btn-success" value="Add more items" />
					<% else %>
						<button class='btn btn-small btn-danger' style='margin-bottom:0.5em;margin-left:0.5em' onclick="$('#dish_<%= index %>').remove();">Remove</button>"
					<% end %>
				</div>
		<% end %>
		</div>
	<% end %>

  <div>
		<button id="submit_button" class="btn btn-primary">Save</button>
  </div>
<% end %>
