<%= form_for([@event, @potluck_item], :html=>{:id=>"potluckItemsForm"}) do |f| %>
  <% if @potluck_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@potluck_item.errors.count, "error") %> prohibited this potluck_item from being saved:</h2>

      <ul>
      <% @potluck_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<input name="potluck_item[event_id]" id="potluck_item_event_id" type="hidden" value="<%= @event.id %>">

	<p>
	<%= f.label :category %>
	<%= f.text_field :category, :placeholder => "E.g. Appetizers, Games, Misc" %>
	</p>

	<p>
		<%= f.label :host_quantity, 'Desired number of items' %>
		<%= f.text_field :host_quantity, :placeholder => 0 %>
	</p>

	<p>
		<%= f.hidden_field :dishes %>
	</p>

	<% if @potluck_item.id.blank? %>
		<label>Items: </label>
		<textarea id="list_area" rows="5" style="width:100%" placeholder="Create your list via comma-delimited items(ex: rice, beans, chips + salsa)" />
	<% else %>
		<% if @potluck_item.dishes.blank? %>
			<div id="list_items">
				<label>Items: </label>
				<input type="text" class="input-large" id="first_item" placeholder="Twinkies">
			</div>
		<% else %>
			<div id="list_items">
				<label>Items: </label>
				<% @potluck_item.dishes.each_with_index do |dish, index| %>
					<div id="dish_<%= index %>">
						<input type='text' class='input-large' value="<%= dish %>">
						<button class='btn btn-small btn-danger' style='margin-bottom:0.5em;margin-left:0.5em' onclick="$('#dish_<%= index %>').remove();"><i class="icon-remove"></i></button>
					</div>
				<% end %>
			</div>
		<% end %>
	<%end %>

  <div>
		<button id="submit_button" class="btn btn-primary">Save</button>
		<% unless @potluck_item.id.blank? %>
			<button id="add_more_items" class="btn btn-success">Add more items</button>
		<% end %>
  </div>
<% end %>
