<div class="row-fluid">
	<div class="span3 guest-info-body"><%= list_info.category %></div>
	<div class="span4 guest-info-body">
		<ul>
			<% list_info.dishes.each do |dish| %>
				<li><%= dish["item"] %> x <%= dish["quantity"] %></li>
			<% end %>
		</ul>
	</div>
	<div class="span4 guest-info-body">
		<ul>
			<% list_info.taken_items.map{|i| i["item"] }.each do |taken_item| %>
				<li><%= taken_item %></li>
			<% end %>
		</ul>
	</div>
</div>
<div class="row-fluid">
	<div class="span1 offset3"><%= link_to ' Edit', edit_event_potluck_item_path(event, list_info), { :class=>"editPotluckItems icon-edit" } %>
	</div>
	<div class="span2 offset1"><%= link_to ' Remove', event_potluck_item_path(event, list_info), {confirm: 'Are you sure?', method: :delete, :class=>"removePotluckItems icon-remove"} %>
	</div>
</div>
