<h1>Listing potluck_items</h1>

<table style="width:100%;margin: 1em 1em 1em 1em">
  <tr>
    <th>Category</th>
    <th>Dishes</th>
    <th>Options</th>
  </tr>

<% @potluck_items.each do |potluck_item| %>
  <tr style="text-align:center">
	<td>
		<%= potluck_item.category %>
	</td>
	<td>
		<%= potluck_item.dishes.join(",") %>
	</td>
		<td><div>
		<div>
    <span class="btn btn-success"><%= link_to 'Show', event_potluck_item_path(@event, potluck_item), {:style=>"color:white"} %></span> | 
    <span class="btn btn-warning"><%= link_to 'Edit', edit_event_potluck_item_path(@event, potluck_item), {:style=>"color:white"} %></span> | 
    <span class="btn btn-danger"><%= link_to 'Destroy', event_potluck_item_path(@event, potluck_item), {confirm: 'Are you sure?', method: :delete, :style=>"color:white"} %></span></div></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Potluck item', new_event_potluck_item_path %>

<div style="margin-top: 1.5em">
	<span class="btn"><%= link_to 'Back to Event', @event, {:style=>"color:black"} %></span>
</div>
