<table class="table table-condensed">
	<thead>
  	<tr>
    	<th>Category</th>
    	<th>Available Dishes</th>
			<th>Taken Dishes</th>
    	<th>Options</th>
  	</tr>
	</thead>
	<tbody>
<% @potluck_items.each do |potluck_item| %>
  <tr style="text-align:center">
	<td>
		<%= potluck_item.category %>
	</td>
	<td>
		<%= potluck_item.dishes.join(",") %>
	</td>
	<td>
		<%= potluck_item.taken_items.map{|i| i["item"] }.join(",") %>
	</td>
		<td><div>
		<div>
    <span class="btn btn-success"><%= link_to 'Edit', edit_event_potluck_item_path(@event, potluck_item), {:style=>"color:white", :class=>"editPotluckItems" } %></span>
    <span class="btn btn-danger"><%= link_to 'Remove', event_potluck_item_path(@event, potluck_item), {confirm: 'Are you sure?', method: :delete, :style=>"color:white", :class=>"removePotluckItems"} %></span></div></td>
  </tr>
<% end %>
	</tbody>
</table>

<br />
<button href="#newPotluckItemModal" class="btn btn-primary" data-toggle="modal">New Items</button>
<script>
	$(document).ready(function(){
		$(".editPotluckItems").click(function(){
			var editPotluckItemPath = $(this).attr("href");
			$("#editPotluckItemModal").attr("data-remote", editPotluckItemPath.match(/\/events.+/));
			$("#editPotluckItemModal").modal("show");
			return false;
		});
	});
</script>
