<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
			<%= @attendee.full_name %> has confirmed that they are coming to your event: <%= @event.name %><br />
			Number of additional guests: <%= @attendee.num_of_guests %> <br/>
			Their comment:  <%= @attendee.comment %>
			<% unless @attendee.dish.empty? %>
			<span style='font-weight:bold;font-size:1em'>Bringing items: </span>
			<div style="inline-block">
				<% @attendee.dish.each do |dish| %>
					<span class="label"><%= dish["category"] %></span>&nbsp;&nbsp;&nbsp;<span style="font-weight:bold"><%= dish["item"] %></span><br />
				<% end %>
			</div>
		<% else %>
			<%= "nothing" %>
		<% end %>

    </p>
  </body>
</html>

