<%= form_for([@event, @attendee], :method=>"POST", :html=>{:id=>"newAttendeeForm"}) do |f| %>
  <% if @attendee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attendee.errors.count, "error") %> prohibited this attendee from being saved:</h2>

      <ul>
      <% @attendee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<p>
		<%= f.label :full_name %>
		<%= f.text_field :full_name %>
	</p>

	<p>
		<%= f.label :email %>
		<%= f.email_field :email %>
	</p>

	<p>
		<%= f.label :rsvp %>
		<%= f.select :rsvp, [["No Response", "No Response"],["Undecided","Undecided"],["Going","Going"],["Not Going","Not Going"]],{}, :onchange => "rsvp();" %>
	</p>

	<div>
			<div><span style="font-weight:bold">Comments? </span><span id="count-down-limit"></span></div>
		<%= f.text_area :comment, :placeholder => "Gonna be five mins late", :style=>"height:8em;width:35em" %>
	</div>
	<div id="guestcount_div">
		<%= f.label :num_of_guests, "Number of guests you are bringing (excluding yourself):" %>
		<%= f.text_field :num_of_guests %>
		<div id="items_box">
			<label>I am bringing </label>
			<div id="items">
			</div>
		</div>
	</div>

  <div>
		<button id="add_items" class="btn btn-success" style="color:white">Add more</button>
		<button id="new_attendee_submit" class="btn btn-primary" style="color:white">Save</button>
  </div>
<% end %>
