<%= form_for(@attendee, :url=> [@event,@attendee], :method=>"PUT") do |f| %>
  <% if @attendee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attendee.errors.count, "error") %> prohibited this attendee from being saved:</h2>

      <ul>
      <% @attendee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<p>
		<%= f.label :full_name %>
		<%= f.text_field :full_name %>
	</p>

	<p>
		<%= f.label :email %>
		<%= f.email_field :email %>
	</p>

	<p>
		<%= f.label :rsvp %>
		<%= f.select(:rsvp, options_for_select([['Going','Going'],['Not Going','Not Going'],['Undecided','Undecided']])) %>
	</p>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
