<h1>Email guest <%= @attendee.email %></h1>
<% if flash[:notice] %>
		<div class="alert alert-error"><%= flash[:notice] %></div>
<% else %>
		<div id="email-alert"></div>
<% end %>

<%= form_tag "/events/#{@event.id}/attendees/#{@attendee.id}/send_guest_email", :method=>:get, :id=>"emailForm" do %>

	<p>
	<%= text_field_tag :subject, @subject || String.new, :placeholder => "Enter email subject here" %>
	</p>
	<p>
	<%= text_area_tag :body, @body || String.new, :rows=>10, :style=>"width:80%" %>
	</p>

	<div>
		<button class="btn btn-primary" id="emailSubmitter">Send</button>
	</div>

<% end %>
<script>
		$("#emailSubmitter").click(function(){
			var serialized_form = $("#emailForm").serialize(), url = $("#emailForm").attr('action');
			console.log(serialized_form);
			console.log(url);
			$.ajax({
				url: url,
				data: serialized_form,
				type: "GET",
				dataType: "html",
				async: false,
				success: function(data, stringText){
					console.log(data);
					$("#notice").removeClass("alert alert-error alert-success").addClass("alert alert-success");
					$("#notice").html("Email sent!");
					$("#emailModal").modal("hide");
				},
				error: function(){
					$("#email-alert").removeClass("alert alert-error alert-success").addClass("alert alert-error");
					$("#email-alert").html("An error occurred while attempting to send the email. Please make sure you provided both a subject and body");
				}

			});
			return false;
		});
</script>
