<h3>Invite Guests via email</h3>
<%= render :partial=>"add_attendees", :locals => { :event => @event } %>
<p></p>
<hr/>
<h3>The Guest list</h3>
<table class="table table-condensed">
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>Email address</th>
			<th>RSVP</th>
			<th>Options</th>
		</tr>
	</thead>

	<tbody>
<% @event.attendees.each do |attendee| %>
  <tr id="guest_<%= attendee.id %>">
		<td><% if current_user.id == @event.user.id && !attendee.email.blank? %><% if attendee.can_cohost? %><%= link_to "Host", {:controller => :events, :action => :change_roles, :id => @event.id, :attendee_id => attendee.id}, :class=>"btn btn-link promotion" %><% else %><%= link_to "Guest", {:controller => :events, :action => :change_roles, :id => @event.id, :attendee_id => attendee.id}, :class=>"btn btn-link promotion" %><% end %><% elsif attendee.can_cohost? %><span class="label">Host</span><% end %></td>
		<td class="attendee_name"><%= attendee.full_name %></td>
		<td class="attendee_email"><%= attendee.email %></td>
		<td style="text-align:center"><%= attendee.rsvp %></td>
		<td><% unless attendee.email.blank? %><span class="btn btn-info" style="margin-right:0.5em"><%= link_to ' ', {:controller => :attendees, :action => :send_individual_calendar, :event_id => @event.id, :id => attendee.id}, { :style => "color:white", :class=>"individualInvite icon-calendar"} %></span><% end %><span class="btn btn-success" style="margin-right:0.5em"><%= link_to ' ', edit_event_attendee_url(@event, attendee), { :style => "color:white", :class=>"editAttendee icon-edit"} %></span><span class="btn btn-danger"><%= link_to ' ', event_attendee_url(@event, attendee), { :style=>"color:white", :class=>"removeAttendee icon-remove"} %></span></td>
  </tr>
<% end %>
	</tbody>
</table>

<br />
<button href="#newAttendeeModal" id="newAttendeeButton" class="btn btn-primary" data-toggle="modal">Add Guest</button>
<% unless @event.get_unique_guest_email_list.blank? %>
	<button id="sendUpdatedCalendars" class="btn btn-info">Send <i class="icon-calendar"></i></button>
	<div style="float:right" id="emailAllGuestDiv"><%= link_to 'Email all guests',{:controller => :events, :action => :group_email, :id => @event.id }, {:style=>"margin-bottom: 1em;color:blue", :class => "btn btn-link", :id=>"emailAllGuests"} %></div>
<% end %>
<script>
	$(document).ready(function(){

		$("#newAttendeeButton").click(function(){
			var url = document.location.pathname+"/attendees/new", newAttendeeModal = $("#newAttendeeModal");
			$.ajax({
				url: url,
				dataType: "html",
				success: function(data){
					newAttendeeModal.find(".modal-body").html(data);
					newAttendeeModal.modal("show");
				},
				error: function(xhr, errorText, errorObject){
					newAttendeeModal.find(".modal-body").html("<div class='alert alert-error'>"+errorText+": Cannot retrieve form for new guest. Please contact the administrator about this</div>");
				}
			});
		});

		$(".promotion").click(function(){
			$.ajax({
				url: $(this).attr('href'),
				method: "PUT",
				success: function(){
					$("#notice").removeClass("alert alert-error alert-success").addClass("alert alert-success");
					$("#notice").html("Permissions have been changed successfully");
					$("#guests").click();
				},
				error: function(){
					$("#notice").removeClass("alert alert-error alert-success").addClass("alert alert-error");
					$("#notice").html("Guest cannot be promoted to co-host. Please contact your administrator");
				}
			});
			return false;
		});

		$(".individualInvite").click(function(){
			$.ajax({
				url: $(this).attr('href'),
				success: function(){
					$("#notice").removeClass("alert alert-error alert-success").addClass("alert alert-success");
					$("#notice").html("Calendar invite for guest has been sent");
					$("#guests").click();
				},
				error: function(){
					$("#notice").removeClass("alert alert-error alert-success").addClass("alert alert-error");
					$("#notice").html("Calendar invite could not be processed correctly. Please contact your administrator");
				}
			});
			return false;
		});

		$(".removeAttendee").click(function(){
			var url = $(this).attr('href');
			var id = url.substr(url.lastIndexOf("/")+1);
			$.ajax({
				url: url,
				dataType: "html",
				data: id,
				type: "DELETE",
				async: false,
				success: function(){
					$("#notice").removeClass("alert alert-error alert-success").addClass("alert alert-success");
					$("#notice").html("Guest has been removed from your event");
					$("#guests").click();
				},
				error: function(){
					$("#notice").removeClass("alert alert-error alert-success").addClass("alert alert-error");
					$("#notice").html("Guest cannot be removed from the event");
				}
			});
			return false;
		});

		$(".editAttendee").click(function(){
			var editAttendeePath = $(this).attr("href"), editAttendeeModal = $("#editAttendeeModal"), url;

			//initialize the modal
			url = editAttendeePath.match(/\/events.+/);
			$("#editAttendeeModal").attr("data-remote", url);
			$.ajax({
				url: url,
				dataType: "html",
				success: function(data){
					editAttendeeModal.find(".modal-body").html(data);
					editAttendeeModal.modal("show");
				},
				error: function(xhr, errorText, errorObject){
					editAttendeeModal.find(".modal-body").html("<div class='alert alert-error'>"+errorText+": Cannot retrieve information for guest. Please contact the administrator about this</div>");
				}
			});
			return false;
		});

		function shouldEmailAndCalendarButtonStillBeHere(){
			var counter = 0, email = "";
			$.map($(".attendee_email"), function(val, i){
				email = $(val).text();
				if (email != "")
					counter++;
			});

			if (counter == 0){
				$("#sendUpdatedCalendars").remove();
				$("#emailAllGuestDiv").empty();
			}
		}

		function loadEmailTemplate(emailObject){
		var url = $(emailObject).attr('href'), emailModal = $("#emailModal");

		emailModal.attr('data-remote',url);
		$.ajax({
			url: url,
			dataType: "html",
			success: function(data){
				emailModal.find(".modal-body").html(data);
				emailModal.modal("show");
			},
			error: function(xhr, errorText, errorObject){
				emailModal.find(".modal-body").html("<div class='alert alert-error'>"+errorText+": Cannot retrieve template for emailing guest. Please contact the administrator about this</div>");
			}
		});
	}

	$("#emailAllGuests").click(function(){
			loadEmailTemplate($(this));
			return false;
		});

	$("#sendUpdatedCalendars").click(function(){
		var url = document.location.pathname;
		$.ajax({
			url: url+"/attendees/send_updated_calendar",
			type: "GET", 
			async: true,
			success: function(){
					$("#notice").removeClass("alert alert-error alert-success").addClass("alert alert-success");
					$("#notice").html("Calendar events have been sent to your guests");
			},
			error: function(){
					$("#notice").removeClass("alert alert-error alert-success").addClass("alert alert-error");
					$("#notice").html("Error trying to send guest updated calendars. Please contact your adminstrator.");
			}
		});
	});

		$("#add-distribution-group").click(function(){
			var url = document.location.pathname+"/get_host_groups";
			$("#alert-flash").empty();
			$("#alert-flash").removeClass("alert alert-error alert-success");
			$.ajax({
				url: url,
				dataType: "html",
				success: function(data){
					$("#addFromGroupsModal").find(".modal-body").html(data);
					$("#addFromGroupsModal").modal("show");
				},
				error: function(){
					$("#alert-flash").addClass("alert alert-error");
					$("#alert-flash").html("Problems fetching your groups. Please contact your administrator");
				}
			});
			return false;
		});

		$("#send-invitations").click(function(){
			var outputJSON = {};
			var emailArray = [];
			var value = $("#email_area").val();

			if ($.trim(value).length == 0){
				$("#email_area").css('background-color','red');
			} else {
					value = value.replace(/\r|\n/g,"");
					emailArray = value.split(",");
					emailArray = $.map(emailArray, function(data){
					return $.trim(data);
				});
			}

			if ( emailArray.length == 0){
				$("#alert-flash").addClass("alert alert-error");
				$("#alert-flash").text("There are currently no email entries. Please populate them.");
			}
			else {
				outputJSON["email"] = emailArray;
				var invite_guest_link = document.location.pathname+"/attendees/invite_guests";
				$.ajax({
					url: invite_guest_link,
					type: 'POST',
					data: 'email_invites='+JSON.stringify(outputJSON),
					dataType: 'json',
					async: false,
					success: function(data){
						$("#notice").removeClass("alert alert-error alert-success").addClass("alert alert-success");
						$("#notice").html("Invitations have been processed and emails will be sent out to those added to your guest list.");
						$("#guests").click();
					},
					error: function() {
						$(".form-horizontal").prepend("<div class='alert alert-error'>Invitations could not be sent out! Please contact your administrator and describe how to reproduce this issue</div>");
					}
				});
				return false;
			}
		});

		//Need this for the first entry since the others are dynamically added.
		$("#email_area").click(function(){ $(this).css('background-color',''); });
	});
</script>
