<h1>Listing attendees <%= @event.attendees.count %></h1>

<table>
  <tr>
		<th>Name</th>
    <th>Email address</th>
    <th>RSVP</th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
  </tr>

<% @event.attendees.each do |attendee| %>
  <tr>
		<td style="width:10%"><%= attendee.full_name %></td>
		<td style="width:20%"><%= attendee.email %></td>
		<td style="width:20%;text-align:center"><%= attendee.rsvp %></td>
    <td style="width:20%;float:left;"><span class="btn btn-success"><%= link_to 'Show', event_attendee_url(@event, attendee), { :style=>"color:white" } %></span></td>
    <td style="width:20%;float:left;"><span class="btn btn-warning"><%= link_to 'Edit', edit_event_attendee_url(@event, attendee), { :style => "color:white" } %></span></td>
    <td style="width:10%;float:left;"><span class="btn btn-danger"><%= link_to 'Destroy', event_attendee_url(@event, attendee), { confirm: 'Are you sure?', method: :delete, :style=>"color:white" } %></span></td>
  </tr>
<% end %>
</table>

<br />
<span class="btn"><%= link_to('Back to event', @event) %></span>
