<table class="table table-condensed">
	<thead>
		<tr>
			<th>Name</th>
			<th>Email address</th>
			<th>RSVP</th>
			<th>Options</th>
		</tr>
	</thead>

	<tbody>
<% @event.attendees.each do |attendee| %>
  <tr>
		<td><%= attendee.full_name %></td>
		<td><%= attendee.email %></td>
		<td style="text-align:center"><%= attendee.rsvp %></td>
		<td><span class="btn btn-success"><%= link_to 'Edit', edit_event_attendee_url(@event, attendee), { :style => "color:white", :class=>"editAttendee"} %></span><span class="btn btn-danger"><%= link_to 'Remove', event_attendee_url(@event, attendee), { confirm: 'Are you sure?', method: :delete, :style=>"color:white", :class=>"removeAttendee"} %></span></td>
  </tr>
<% end %>
	</tbody>
</table>

<br />
<button href="#newAttendeeModal" class="btn btn-primary" data-toggle="modal">New Guest</button>
<script>
	$(document).ready(function(){
		$(".editAttendee").click(function(){
			var editAttendeePath = $(this).attr("href");
			$("#editAttendeeModal").attr("data-remote", editAttendeePath.match(/\/events.+/));
			$("#editAttendeeModal").modal("show");
			return false;
		});
	});
</script>
