<table class="table table-condensed">
	<thead>
		<tr>
			<th>Name</th>
			<th>Email address</th>
			<th>RSVP</th>
			<th>Options</th>
		</tr>
	</thead>

	<tbody>
<% @event.attendees.each do |attendee| %>
  <tr id="guest_<%= attendee.id %>">
		<td class="attendee_name"><%= attendee.full_name %></td>
		<td class="attendee_email"><%= attendee.email %></td>
		<td style="text-align:center"><%= attendee.rsvp %></td>
		<td><span class="btn btn-success"><%= link_to 'Edit', edit_event_attendee_url(@event, attendee), { :style => "color:white", :class=>"editAttendee"} %></span><span class="btn btn-danger"><%= link_to 'Remove', event_attendee_url(@event, attendee), { confirm: 'Are you sure?', method: :delete, :style=>"color:white", :class=>"removeAttendee"} %></span></td>
  </tr>
<% end %>
	</tbody>
</table>

<br />
<button href="#newAttendeeModal" id="newAttendeeButton" class="btn btn-primary" data-toggle="modal">New Guest</button>
<div style="float:right" id="emailAllGuestDiv"><% unless @event.get_unique_guest_email_list.blank? %><%= link_to 'Email all guests',{:controller => :events, :action => :group_email, :id => @event.id }, {:style=>"margin-bottom: 1em;color:blue", :class => "btn btn-link", :id=>"emailAllGuests"} %><% end %></div>
<script>
	$(document).ready(function(){

		$("#newAttendeeButton").click(function(){
			var url = document.location.pathname+"/attendees/new", newAttendeeModal = $("#newAttendeeModal");
			$.ajax({
				url: url,
				dataType: "html",
				success: function(data){
					newAttendeeModal.find(".modal-body").html(data);
					newAttendeeModal.modal("show");
				},
				error: function(xhr, errorText, errorObject){
					newAttendeeModal.find(".modal-body").html("<div class='alert alert-error'>"+errorText+": Cannot retrieve form for new guest. Please contact the administrator about this</div>");
				}
			});
		});

		$(".removeAttendee").click(function(){
			var url = $(this).attr('href');
			var id = url.substr(url.lastIndexOf("/")+1);
			var table_row_id = "guest_"+id;
			$.ajax({
				url: url,
				dataType: "html",
				data: id,
				type: "DELETE",
				async: false,
				success: function(){
					$("#notice").removeClass("alert alert-error alert-success").addClass("alert alert-success");
					$("#notice").html("Guest has been removed from your event");
					$("#"+table_row_id).remove();
					shouldEmailButtonStillBeHere();
				},
				error: function(){
					$("#notice").removeClass("alert alert-error alert-success").addClass("alert alert-error");
					$("#notice").html("Guest cannot be removed from the event");
				}
			});
			return false;
		});

		$(".editAttendee").click(function(){
			var editAttendeePath = $(this).attr("href"), editAttendeeModal = $("#editAttendeeModal"), url;

			//initialize the modal
			url = editAttendeePath.match(/\/events.+/);
			$("#editAttendeeModal").attr("data-remote", url);
			$.ajax({
				url: url,
				dataType: "html",
				success: function(data){
					editAttendeeModal.find(".modal-body").html(data);
					editAttendeeModal.modal("show");
				},
				error: function(xhr, errorText, errorObject){
					editAttendeeModal.find(".modal-body").html("<div class='alert alert-error'>"+errorText+": Cannot retrieve information for guest. Please contact the administrator about this</div>");
				}
			});
			return false;
		});

		function shouldEmailButtonStillBeHere(){
			var counter = 0, email = "";
			$.map($(".attendee_email"), function(val, i){
				email = $(val).text();
				if (email != "")
					counter++;
			});

			if (counter == 0)
				$("#emailAllGuestDiv").empty();
		}

		function loadEmailTemplate(emailObject){
		var url = $(emailObject).attr('href'), emailModal = $("#emailModal");

		emailModal.attr('data-remote',url);
		$.ajax({
			url: url,
			dataType: "html",
			success: function(data){
				emailModal.find(".modal-body").html(data);
				emailModal.modal("show");
			},
			error: function(xhr, errorText, errorObject){
				emailModal.find(".modal-body").html("<div class='alert alert-error'>"+errorText+": Cannot retrieve template for emailing guest. Please contact the administrator about this</div>");
			}
		});
	}

	$("#emailAllGuests").click(function(){
			loadEmailTemplate($(this));
			return false;
		});

	});
</script>
