
<div class="guest_breakpoint">
	<p><%= attending_attendee.email %><span style="float:right"><%= link_to "Email guest", event_attendee_path(attending_attendee.event, attending_attendee), {:style=>"color:blue", :class => "btn btn-link"} %></span></p>
	<p>Additional guests:  <%= attending_attendee.num_of_guests %></p>
	<p>Comment(s): <%= attending_attendee.comment %></p>
	<p>Dish:  <% if attending_attendee.dish.blank? %> Undecided <% else %><%= attending_attendee.dish %>(<%= attending_attendee.category %>) <% end %>
</div>


