<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<p>
	<%= f.label :name %>
	<%= f.text_field :name %>
</p>
<p>
		<%= f.label(:start_date, "Event Date:") %>
	<% if @event.start_date.blank? %>
		<%= f.hidden_field :start_date, :id => "start_date" %>
	<% else %>
		<input type="hidden" id="start_date" name="event[start_date]" value="<%= @event.start_date.in_time_zone('Pacific Time (US & Canada)').strftime('%Y-%m-%d %H:%M %z') %>" />
	<% end %>
		<input type="text" id="readable_start_date" value="" />
</p>
<p>
		<%= f.label(:rsvp_date, "RSVP By:") %>
	<% if @event.rsvp_date.blank? %>
		<%= f.hidden_field :rsvp_date, :id => "rsvp_date" %>
	<% else %>
		<input type="hidden" id="rsvp_date" name="event[rsvp_date]" value="<%= @event.rsvp_date.in_time_zone('Pacific Time (US & Canada)').strftime('%Y-%m-%d %H:%M %z') %>" />
	<% end %>
		<input type="text" id="readable_rsvp_date" value="" />
</p>
  <div class="actions">
		<button class="btn btn-primary" id="event_submit">Save</button>
  </div>
<% end %>
