<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<p>
	<%= f.label :name %>
	<%= f.text_field :name %>
</p>
<p>¬
  <%= f.label(:start_date, "Start Date (format: YYYY-MM-DD HH:MM -0700):") %>
▸ <%= f.text_field :start_date, :id => "start_date" %>¬
</p>
<p>
	<%= f.label(:rsvp_date, "RSVP Date (format: YYYY-MM-DD HH:MM -0700:") %>
	<%= f.text_field :rsvp_date, :id => "rsvp_date" %>
</p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
