<p><span style='font-weight:bold;font-size:1em'>
<% if attendee.rsvp.eql?("No Response") %>
	Your response: None
<% elsif attendee.rsvp.eql?("Undecided") %>
Your response: Maybe
<% else %>
Your response: <%= attendee.rsvp %>
<% end %></span>
</p>
<p><span style='font-weight:bold;font-size:1em'>Your most recent comment: </span><%= attendee.comment %></p>
<% if attendee.rsvp.eql?("Going") %>
<p><span style='font-weight:bold;font-size:1em'>Additional guests: </span><%= attendee.num_of_guests %></p>
<p>
		<% unless attendee.dish.empty? %>
			<span style='font-weight:bold;font-size:1em'>You are bringing </span>
			<div style="inline-block">
				<% attendee.dish.each do |dish| %>
					<span class="label"><%= dish["category"] %></span>&nbsp;&nbsp;&nbsp;<span style="font-weight:bold"><%= dish["item"] %></span><br />
				<% end %>
			</div>
		<% else %>
			<%= "nothing" %>
		<% end %>
</p>
<% end %>
