<h1>Email host <%= @host.full_name %></h1>
<% if flash[:notice] %>
		<div id="email-alert" class="alert alert-error"><%= flash[:notice] %></div>
<% else %>
		<div id="email-alert"></div>
<% end %>

<%= form_tag "/events/#{@event.id}/send_host_email", :method=>:get, :id=>"emailHostForm" do %>

	<p>
	<%= text_field_tag :subject, @subject || String.new, :placeholder => "Enter email subject here" %>
	</p>
	<p>
	<%= text_area_tag :body, @body || String.new, :rows=>10, :style=>"width:80%" %>
	</p>

	<div>
		<button class="btn btn-primary" id="emailHostSubmitter">Send</button>
	</div>

<% end %>
<script>
		$("#emailHostSubmitter").click(function(){
			var serialized_form = $("#emailHostForm").serialize(), url = $("#emailHostForm").attr('action');
			$.ajax({
				url: url,
				data: serialized_form,
				type: "GET",
				dataType: "html",
				async: false,
				success: function(data, stringText){
					$("#notice").removeClass("alert alert-error alert-success").addClass("alert alert-success");
					$("#notice").html("Message to host sent!");
					$("#emailModal").modal("hide");
				},
				error: function(){
					$("#email-alert").removeClass("alert alert-error alert-success").addClass("alert alert-error");
					$("#email-alert").html("An error occurred while attempting to send the email. Please be sure you have both a subject and body");
				}
			});
			return false;
		});
</script>
