<h2 style="text-align:center;margin:0em 1em 1em 0em"><%= @event.name %></h2>
<div id="flash-message" class="row-fluid"><%= flash[:notice] %></div>
<div class="row-fluid">
	<div class="span4">
		<div>
			<span style="font-weight:bold;font-size:1em">Host: </span>
			<span style="font-size:1em"><%= @event.user.full_name %></span>
		</div>
		<div>
			<%= link_to 'Email host', @event.id.to_s+'/email_host', {:style=>"color:blue"} %>
		</div>
		<div>
			<span style="font-weight:bold;font-size:1em">Start Date: </span>
			<span style="font-size:1em"><%= @event.display_start_time %></span>
		</div>
		<div>
			<span style="font-weight:bold;font-size:1em">RSVP Date: </span>
			<span style="font-size:1em"><%= @event.display_rsvp_time %></span>
		<div style="font-size:1em;margin-top:1em;"><%= @event.rsvp_countdown %></div>
		<div style="margin-top:1em"><span style="font-size:1em;font-weight:bold;">Number of guest attending: </span><%= @event.attending_guest_count %></div>
	</div>
</div>
	<div class="span3">
	<span style="font-weight:bold;font-size:1em">Event Location: </span>
	<% if @event.location %>
		<%= @event.location1 %><br />
		<%= @event.location2 %>
	<% end %>
</div>
	<div class="span4">
		<span style="font-weight:bold;font-size:1em;">Need to know info from the host:</span>
		<% if @event.supplemental_info %>
			<%= @event.supplemental_info %>
		<% else %>
			<%= "TBD" %>
		<% end %>
	</div>
</div>
<div class="row-fluid" style="margin-top:1.5em;margin-bottom:1.5em">
	<div class="span6 offset4">You are currently <span id='text-rsvp'><%= @attendee.rsvp %></span>
	</div>
</div>
<div class="row-fluid">
	<div class="span3">
		<ul class="nav nav-pills nav-stacked">
		<li id="attending_guests">
			<a href="#">Who's coming?</a>
		</li>
		<li id="unattending_guests">
			<a href="#">Who's not coming?</a>
		</li>
		<li id="taken_items">
			<a href="#">Taken potluck items</a>
		</li>
		</ul>
	</div>
	<div class="span8">
		<button class="btn btn-success btn-large" id="going-button" onclick="rsvp('Going',<%= @attendee.id %>)">Going</button>
		<button class="btn btn-danger btn-large" id="not-going-button" onclick="rsvp('Not Going',<%= @attendee.id %>)">Not Going</button>
		<button class="btn btn-warning btn-large" id="undecided-button" onclick="rsvp('Undecided',<%= @attendee.id %>)">Undecided</button>
		<div id="comment-box">
		<%= form_for(@attendee, :url=> [@event,@attendee], :method=>"PUT") do |f| %>

		<%= f.hidden_field :id %>
		<%= f.hidden_field :rsvp %>
		<div>
			<%= f.label :comment, 'Comments?' %>
			<%= f.text_field :comment %>
		</div>
		<div id="guestcount_div">
			<%= f.label :num_of_guests, "Number of guests you are bringing (excluding yourself):" %>
			<%= f.text_field :num_of_guests %>
			<label>I am bringing </label>
			<%= f.select(:category, options_for_select(@event.potluck_items.map{|item| [item.category, item.category]})) %>
			<select id='attendee_select_dish'><option value="">Undecided</option></select>
			<%= f.text_field :dish %>
			<div id="checkbox_div">
				Do not like what you see?  Bring your own (and check the box): 
				<%= f.check_box :bringing_custom %>
			</div>
		</div>
  	<div>
			<button id="cancel" class="btn">Cancel</button>
    	<button id="submit" class="btn btn-primary">RSVP</button>
  	</div>
		<% end %>
		</div>
	</div>
</div>
<div style="margin-top:1em">
	<%= link_to 'Back', events_path, :class=>"btn btn-link" %>
</div>
<script type="text/javascript">
		function rsvp(answer, id){
			$("#attendee_rsvp").val(answer);
			$("#comment-box").show();
			if (answer == "Going")
				$("#guestcount_div").show();
		}

		$(document).ready(function(){
			var category_array = [], dishes = {}, flash_message = $("#flash-message"), category_select = $("#attendee_category"), dish_select = $("#attendee_select_dish");

			$.ajax({
				url: window.location.pathname+"/potluck_items.json",
				dataType: "json",
				type: "GET",
				async: false,
				success: function(data){
					$.each(data, function(index, item){
						category_array.push(item.category);
						dishes[item.category] = item.dishes
					});
				}
			});

			$("#attendee_bringing_custom").change(function(){
				var attendee_dish = $("#attendee_dish"), attendee_select = $("#attendee_select_dish");
				if ($(this).is(":checked")){
					attendee_dish.show();
					attendee_select.hide();
				} else {
					attendee_select.show();
					attendee_dish.hide();
					attendee_dish.val(attendee_select.val());
				}
			});
 
			category_select.prepend("<option value=''>Undecided</option>");
			if (flash_message.text().length > 0)
				flash_message.addClass("alert alert-info");
			$("#guestcount_div").hide();
			$("#comment-box").hide();
			$("#attendee_dish").hide();

			$("#cancel").click(function(){
					$("#guestcount_div").hide();
					$("#comment-box").hide();
					return false;
			});

			category_select.change(function(){
				var data = $(this).val();
				var dish_array = dishes[data];
				var dish_select = $("#attendee_select_dish");
				dish_select.empty();
				dish_select.append("<option value=''>Undecided</option>");
				$.each(dish_array, function(index, item){
					dish_select.append("<option value='"+item+"'>"+item+"</option>");
				});
			});

			dish_select.change(function(){
				var data = $(this).val();
				$("#attendee_dish").val(data);
			});

			$.ajax({
				url: $("form").attr('action'),
				dataType: "json",
				async: false,
				type: "GET",
				success: function(data){
					var dish = data.dish, category = data.category;
					$("#attendee_category").val(category).change();
					if (data.bringing_custom){
						$("#attendee_bringing_custom").attr('checked','checked').change();
						$("#attendee_dish").val(dish);
					} else {
						
						$("#attendee_select_dish").val(dish).change();
						$("#attendee_dish").hide();
					}
				}
			});

		$("#submit").click(function(){
				var attendee_rsvp = $("#attendee_rsvp").val();
				var attendee_guestcount = $("#attendee_num_of_guests").val();
				if (attendee_rsvp != "Going"){
					$("#attendee_num_of_guests").val(0);
					$("#attendee_category").val("");
					$("#attendee_dish").val("");
					$("#attendee_bringing_custom").removeAttr('checked');
				}
			});
		});

</script>
