<h2 style="text-align:center;margin:0em 1em 1em 0em"><%= @event.name %></h2>
<div id="flash-message" class="row-fluid"><%= flash[:notice] %></div>
<div class="row-fluid">
	<div class="span4">
		<div>
			<span style="font-weight:bold;font-size:1em">Host: </span>
			<span style="font-size:1em"><%= @event.user.full_name %></span>
		</div>
		<div>
			<%= link_to 'Email host', @event.id.to_s+'/email_host', {:style=>"color:blue"} %>
		</div>
		<div>
			<span style="font-weight:bold;font-size:1em">Start Date: </span>
			<span style="font-size:1em"><%= @event.display_start_time %></span>
		</div>
		<div>
			<span style="font-weight:bold;font-size:1em">RSVP Date: </span>
			<span style="font-size:1em"><%= @event.display_rsvp_time %></span>
		<div style="font-size:1em;margin-top:1em;"><%= @event.rsvp_countdown %></div>
		<div style="margin-top:1em"><span style="font-size:1em;font-weight:bold;">Number of guest attending: </span><%= @event.attending_guest_count %></div>
	</div>
</div>
	<div class="span3">
	<span style="font-weight:bold;font-size:1em">Event Location: </span>
	<% if @event.location %>
		<%= @event.location1 %><br />
		<%= @event.location2 %>
	<% end %>
</div>
	<div class="span4">
		<span style="font-weight:bold;font-size:1em;">Need to know info from the host:</span>
		<% if @event.supplemental_info %>
			<%= @event.supplemental_info %>
		<% else %>
			<%= "TBD" %>
		<% end %>
	</div>
</div>
<div class="row-fluid" style="margin-top:1.5em;margin-bottom:1.5em">
	<div class="span6 offset4">You are currently <span id='text-rsvp'><%= @attendee.rsvp %></span>
	</div>
</div>
<div class="row-fluid">
	<div class="span3">
		<ul class="nav nav-pills nav-stacked">
		<li id="attending_guests">
			<a href="#" data-target="#attendingGuests" data-toggle="modal">Who's coming?</a>
		</li>
		<li id="unattending_guests">
			<a href="#" data-target="#notAttendingGuests" data-toggle="modal">Who's not coming?</a>
		</li>
		<li id="undecided_guests">
			<a href="#" data-target="#undecidedGuests" data-toggle="modal" data-toggle="modal">Who's not sure?</a>
		</li>
		<li id="taken_items">
			<a href="#">Taken potluck items</a>
		</li>
		</ul>
	</div>
	<div class="span8">
		<button class="btn btn-success btn-large" id="going-button" onclick="rsvp('Going',<%= @attendee.id %>)">Going</button>
		<button class="btn btn-danger btn-large" id="not-going-button" onclick="rsvp('Not Going',<%= @attendee.id %>)">Not Going</button>
		<button class="btn btn-warning btn-large" id="undecided-button" onclick="rsvp('Undecided',<%= @attendee.id %>)">Undecided</button>
		<div id="comment-box">
		<%= form_for(@attendee, :url=> [@event,@attendee], :method=>"PUT") do |f| %>

		<%= f.hidden_field :rsvp %>

		<div>
			<%= f.label :comment, 'Comments?' %>
			<%= f.text_field :comment %>
		</div>
		<div id="guestcount_div">
			<%= f.label :num_of_guests, "Number of guests you are bringing (excluding yourself):" %>
			<%= f.text_field :num_of_guests %>
			<div id="items_box">
				<label>I am bringing </label>
				<div id="items">
				</div>
			</div>
		</div>
  	<div>
			<button id="cancel" class="btn">Cancel</button>
    	<button id="submit" class="btn btn-primary">RSVP</button>
  	</div>
		<% end %>
		</div>
	</div>
</div>
<div style="margin-top:1em">
	<%= link_to 'Back', events_path, :class=>"btn btn-link" %>
</div>
	<div id="attendingGuests" class="modal hide">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">x</button>
			<h2>Attending</h2>
		</div>
		<div class="modal-body">
			<%= render :partial => "attending_attendee", :collection => @event.attendees.where("rsvp = 'Going' and id <> ?", @attendee.id) %>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a>
		</div>
	</div>

	<div id="notAttendingGuests" class="modal hide">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">x</button>
			<h2>Not Coming</h2>
		</div>
		<div class="modal-body">
			<%= render :partial => "unattending_attendee", :collection => @event.attendees.where("rsvp = 'Not Going' and id <> ?", @attendee.id) %>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a>
		</div>
	</div>

	<div id="undecidedGuests" class="modal hide">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">x</button>
			<h2>Undecided</h2>
		</div>
		<div class="modal-body">
			<%= render :partial => "undecided_attendee", :collection => @event.attendees.where("rsvp = 'Undecided' and id <> ?", @attendee.id) %>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a>
		</div>
	</div>
<script type="text/javascript">
		function rsvp(answer, id){
			$("#attendee_rsvp").val(answer);
			$("#comment-box").show();
			if (answer == "Going")
				$("#guestcount_div").show();
		}

		$(document).ready(function(){
			var category_array = [], dishes = {}, flash_message = $("#flash-message");

			$.ajax({
				url: window.location.pathname+"/potluck_items.json",
				dataType: "json",
				type: "GET",
				async: false,
				success: function(data){
					$.each(data, function(index, item){
						category_array.push(item.category);
						dishes[item.category] = item.dishes
					});
				}
			});

			// This should return the div class='item' so that the add and/or remove button could be appended to it
			function createItemForRSVP(){
				var item_div = $("<div class='item'></div>"), 
						dish_div = $("<div id='dish_div'></div>"),
						category_select = $("<select id='attendee_category' style='margin: 0 0.5em 0 0'><option value=''>Undecided</option></select>"), 
						dishes_select = $("<select id='attendee_select_dish' style='margin: 0 0.5em 0 0'><option value=''>Undecided</option></select>"), 
						attendee_dish = $("<input type='text' id='attendee_dish' style='margin: 0 0.5em 0 0' />"),
						checkbox_div = $("<div id='checkbox_div'></div>"), 
						label_checkbox=$("<label>Do not like what you see? Click to choose your own: </label>"),
						checkbox = $("<input type='checkbox' id='is_custom' />");
				
				//populate the category select tag
				$.each(category_array, function(index, item){
					category_select.append("<option value='"+item+"'>"+item+"</option>");
				});

				//put the change on category select tag on the select_dish
				category_select.change(function(){
					var data = $(this).val();
					var dish_array = dishes[data];
					dishes_select.empty();
					dishes_select.append("<option value=''>Undecided</option>");
					$.each(dish_array, function(index, item){
						dishes_select.append("<option value='"+item+"'>"+item+"</option>");
					});
				});

				//change the value in the hidden field
				dishes_select.change(function(){
					var data = $(this).val();
					//set the value()
					attendee_dish.val(data);
				});

				//hide the text_dish
				attendee_dish.hide();

				//add the event handler for checkbox
				checkbox.change(function(){
					if ($(this).is(":checked")){
						attendee_dish.show();
						dishes_select.hide();
					} else {
						dishes_select.show();
						attendee_dish.hide();
						attendee_dish.val(dishes_select.val());
					}
				});
				item_div.append(dish_div);
				dish_div.append(category_select);
				dish_div.append(dishes_select);
				dish_div.append(attendee_dish);
				checkbox_div.append(label_checkbox);
				label_checkbox.append(checkbox);
				item_div.append(checkbox_div);
				return item_div;
			}

			if (flash_message.text().length > 0)
				flash_message.addClass("alert alert-info");
			$("#guestcount_div").hide();
			$("#comment-box").hide();

			$("#cancel").click(function(){
					$("#guestcount_div").hide();
					$("#comment-box").hide();
					return false;
			});

			//item is a hash object representing the rsvp item that a user previously has
			function createRSVPItemWithRemoveButton(item){
				var item_div, delete_button = $("<button class='btn btn-danger'>Remove</button>");
				item_div = createItemForRSVP();
				delete_button.click(function(){
					item_div.remove();
					return false;
				});
				item_div.find("#dish_div").append(delete_button);
				if (item){
					item_div.find("#attendee_category").val(item.category).change();
					if (item.is_custom){
						item_div.find("#is_custom").attr('checked','checked').change();
						item_div.find("#attendee_dish").val(item.item);
					} else {
						item_div.find("#attendee_select_dish").val(item.item).change();
					}
				}
				$("#items").append(item_div);
			}

			function createRSVPItemWithAddButton(){
				var item_div, add_button = $("<button class='btn btn-success'>One more item</button>");
				item_div = createItemForRSVP();
				add_button.click(function(){
					createRSVPItemWithRemoveButton();
					return false;
				});
				item_div.find("#dish_div").append(add_button);
				$("#items").append(item_div);
				return false;
			}

			createRSVPItemWithAddButton();

			$.ajax({
				url: $("form").attr('action'),
				dataType: "json",
				async: false,
				type: "GET",
				success: function(data){
					var dishes = data.dish;
					$.each(dishes, function(index, item){
						if (index == 0){
							$("#attendee_category").val(item.category).change();
							if (item.is_custom){
								$("#is_custom").attr('checked','checked').change();
								$("#attendee_dish").val(item.item);
							} else {
								$("#attendee_select_dish").val(item.item).change();
							}
						} else {
							createRSVPItemWithRemoveButton(item);
						}
					});
				}
			}); 

		$("#submit").click(function(){
				var attendee_rsvp = $("#attendee_rsvp").val();
				var attendee_guestcount = $("#attendee_num_of_guests").val();
				var rsvp_item_array = [];
				var items_collection = $(".item");
				if (attendee_rsvp != "Going"){
					$("#attendee_num_of_guests").val(0);
					$("#attendee_category").val("");
					$("#attendee_dish").val("");
					$("#attendee_bringing_custom").removeAttr('checked');
				} else {
					$.each(items_collection, function(index, item){
						var hash_object, category = $(item).find("#attendee_category").val(), dish_item = $(item).find("#attendee_dish").val(), is_custom = $(item).find("#is_custom").is(":checked");
						if ($.trim(category) != "" && $.trim(dish_item) != ""){
							hash_object = {"category": category, "item": dish_item, "is_custom":is_custom};
							rsvp_item_array.push(hash_object);
						}
					});
				}
				$("form").append("<input type='hidden' name='attendee[dish]' value='"+JSON.stringify(rsvp_item_array)+"' />");
			});
		});

</script>
