<h1>Listing events</h1>
<% if flash[:notice] %>
		<div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<table class="table table-hover table-striped">
  <thead>
  <tr>
    <th>Event Name</th>
    <th>Time Frame</th>
    <th></th>
		<th></th>
		<th></th>
  </tr>
	</thead>

	<tbody>
<% @events.each do |event| %>
  <tr>
		<div class="event-line">
		<td style="font-size:16px"><%= event.name %></td>
		<td style="font-size:16px"><%= "from " + event.start_date.strftime("%m/%d/%Y") + " to "+event.end_date.strftime("%m/%d/%Y") %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete %></td>
		</div>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
