<p id="notice"><%= notice %></p>
<div class="row">
<div class="span4">
<div>
<span style="font-weight:bold;font-size:14px">Name: </span>
<span style="font-size:14px"><%= @event.name %></span>
</div><div>
<span style="font-weight:bold;font-size:14px">Start Date: </span>
<span style="font-size:14px"><%= @event.start_date %></span>
<div style="margin-top:1em">
<%= link_to 'Edit', edit_event_path(@event) %> | <%= link_to 'Back', events_path %></div>
</div>
</div><div class="span4"> Insert location here.
</div>
<div class="span4"> Put potluck outstanding items here</div>
</div>
<div class="row">
<hr/>
<div class="span3">
<ul class="nav nav-pills nav-stacked">
	<li id="guests">
	<a>Guest list</a>
	</li>
	<li id="supplemental_info">
		<a>Good to know</a>
	</li>
</ul>
</div><div class="span9"><iframe id="frame_content" style="width:100%;height:100%;position:relative"></iframe></div>
</div>
<script>
	$("#guests").click(function(){
			$("#supplemental_info").removeClass("active");
			$(this).addClass("active");
			render_content("guests");
		});
	$("#supplemental_info").click(function(){
			$("#guests").removeClass("active");
			$(this).addClass("active");
			render_content("supplemental_info");
		});
</script>
