<% if flash[:notice] %>
<div class="alert alert-success" id="notice"><%= notice %></div>
<% end %>
<div class="row">
	<div class="span3">
		<div>
			<span style="font-weight:bold;font-size:1em">Name: </span>
			<span style="font-size:1em"><%= @event.name %></span>
		</div>
		<div>
			<div>
			<span style="font-weight:bold;font-size:1em">Start Date: </span>
			<span style="font-size:1em"><%= @event.display_start_time %></span></div>
			<div>
			<span style="font-weight:bold;font-size:1em">RSVP Date: </span>
			<span style="font-size:1em"><%= @event.display_rsvp_time %></span></div>
			<div style="margin-top:1em">
				<%= link_to 'Edit', edit_event_path(@event), :class=>"btn btn-link" %> | <%= link_to 'Back', events_path, :class=>"btn btn-link" %></div>
		</div>
	</div>
	<div id="description_div" class="span4">
		<span style="font-weight:bold;font-size:1em">Description: </span><% unless @event.description.blank? %><%= @event.description %><% else %><%= "Update Description please" %><% end %>
			<br /><br />
		<span style="font-weight:bold;font-size:1em">Theme: </span><% unless @event.theme.blank? %><%= @event.theme %><% else %><%= "None" %><% end %><br />
		<div>
			<button id="description-href" href="#descriptionModal" class="btn btn-primary" data-toggle="modal" style="margin:10px 0px 0px 0px">Update Description and Theme</button>
		</div>
	</div>
	<div id="location_div" class="span3">
		<% if @event.location %>
			<%= @event.location1 %><br />
			<%= @event.location2 %>
		<% else %>
			<%= "Define location of your event here" %>
		<% end %>
		<div>
			<button id="location-href" href="#locationModal" class="btn btn-primary" data-toggle="modal" style="margin:10px 0px 0px 0px">Update Location</button>
		</div>
	</div>
</div>
<div class="row">
	<hr/>
	<div class="span3">
	<ul class="nav nav-pills nav-stacked">
		<li>
		<a id="guests">Review the guest list</a>
		</li>
		<li>
			<a id="supplemental_info">Additional info for guests</a>
		</li>
		<li>
			<a id="invite_guests">Invite Guests</a>
		</li>
		<li>
			<a id="attending_guests">Who's coming?</a>
		</li>
		<li>
			<a id="unattending_guests">Who's not coming?</a>
		</li>
		<li>
			<a id="undecided_guests">Who's undecided?</a>
		</li>
		<li>
			<a id="potluck_list">view my potluck list</a>
		</li>
		<li>
			<a id="potluck_statistics">Potluck statistics</a>
		</li>
	</ul>
	</div>
	<div id="contentContainer" class="span6"> 
	</div>

	<div id="locationModal" class="modal hide" data-remote="">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h2>Edit Location</h2>
		</div>
		<div class="modal-body">
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a>
		</div>
	</div>


	<div id="supplementalInfoModal" class="modal hide" data-remote="">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h2>Provide info here</h2>
		</div>
		<div class="modal-body">
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a>
		</div>
	</div>

	<div id="descriptionModal" class="modal hide" data-remote="">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">x</button>
			<h2>Provide Description and Theme here</h2>
		</div>
		<div class="modal-body">
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a>
		</div>
	</div>

<script>
	$(document).ready(function() {
		$("#locationModal").attr('data-remote',document.location.pathname+"/change_location");
		$("#descriptionModal").attr('data-remote',document.location.pathname+"/description");
	
		$("#location-href").click(function(){
			$(this).show();
		});

		function removeActiveClass(){
			$("li").removeClass("active");
		}

		$("li").each(function (index, data){
			$(this).click(function(){
				removeActiveClass();
				$(this).addClass("active");
				displayContent($(this).find("a").attr('id'));
			});
		});

		function displayContent(id){
			var idMap = {"guests": "/attendees", "supplemental_info": "/supplemental_info","invite_guests": "/attendees/add_attendees","potluck_list":"/potluck_items", "attending_guests":"/attending_guests","unattending_guests":"/unattending_guests","undecided_guests": "/undecided_guests", "potluck_statistics": "/potluck_statistics" };
			$.ajax({
				url: document.location.pathname+idMap[id],
				dataType: "html",
				success: function(data){
					$("#contentContainer").empty();
					$("#contentContainer").html(data);
				}
			});
		}

		$("#potluck_statistics").click();
	});

</script>
