<% if flash[:notice] %>
<div class="alert alert-success" id="notice"><%= notice %></div>
<% end %>
<div class="row">
	<div class="span3">
		<div>
			<span style="font-weight:bold;font-size:1em">Name: </span>
			<span style="font-size:1em"><%= @event.name %></span>
		</div>
		<div>
			<div>
			<span style="font-weight:bold;font-size:1em">Start Date: </span>
			<span style="font-size:1em"><%= @event.display_start_time %></span></div>
			<div>
			<span style="font-weight:bold;font-size:1em">RSVP Date: </span>
			<span style="font-size:1em"><%= @event.display_rsvp_time %></span></div>
			<div style="margin-top:1em">
				<%= link_to 'Edit', edit_event_path(@event), :class=>"btn btn-link" %> | <%= link_to 'Back', events_path, :class=>"btn btn-link" %></div>
		</div>
	</div>
	<div id="location_div" class="span3">
	<% if @event.location %>
		<%= @event.location1 %><br />
		<%= @event.location2 %>
	<% end %>
	<div>
		<button id="location-href" href="#locationModal" class="btn btn-primary" data-toggle="modal" style="margin:10px 0px 0px 0px">Update Location</button>
	</div>
</div>
	<div class="span4"> Potluck statistics: <br /><span class="label">Category</span><br /><span class="badge badge-success">quantity of dishes you requested</span><br /><span class="badge badge-info">quantity guests are bringing</span><br /><br />
		<% if @event.potluck_items.count > 0 %>
			<% @event.potluck_items.each do |item| %>
				<div><span class="label"><%= item.category %></span> | <span class="badge badge-success"><%= item.host_quantity %></span> | <span class="badge badge-info"><%= @event.find_attendee_dish_count(item.category) %></span></div>
			<% end %>
		<% else %>
			<div><span class="label label-info">Currently you have no potluck categories created</span></div>
		<% end %>
		<div>Number of guest attending: <%= @event.attending_guest_count %></div>
	</div>
</div>
<div class="row">
	<hr/>
	<div class="span3">
	<ul class="nav nav-pills nav-stacked">
		<li id="guests">
		<a>Review the guest list</a>
		</li>
		<li id="supplemental_info">
			<a href="#" data-target="#supplementalInfoModal" data-toggle="modal">Add info for guests</a>
		</li>
		<li>
			<a id="invite_guests" href="">Invite Guests</a>
		</li>
	</ul>
	</div>
	<div class="span3">
		<ul class="nav nav-pills nav-stacked">
		<li id="attending_guests">
			<a href="#" data-target="#attendingGuests" data-toggle="modal">Who's coming?</a>
		</li>
		<li id="unattending_guests">
			<a href="#" data-target="#notAttendingGuests" data-toggle="modal">Who's not coming?</a>
		</li>
		<li id="undecided_guests">
			<a href="#" data-target="#undecidedGuests" data-toggle="modal">Who's undecided?</a>
		</li>
		</ul>
	</div>
	<div class="span3">
	<ul class="nav nav-pills nav-stacked">
		<li>
			<a id="potluck_list" href="">view my potluck list</a>
		</li>
		<li>
			<a id="new_category" href="">add new category to potluck list</a>
		</li>
	</ul>
	</div>
</div>

	<div id="locationModal" class="modal hide" data-remote="">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h2>Edit Location</h2>
		</div>
		<div class="modal-body">
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a>
		</div>
	</div>


	<div id="supplementalInfoModal" class="modal hide" data-remote="">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h2>Provide info here</h2>
		</div>
		<div class="modal-body">
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a>
		</div>
	</div>

	<div id="attendingGuests" class="modal hide">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">x</button>
			<h2>Attending</h2>
		</div>
		<div class="modal-body">
		<%= render :partial => "attending_attendee", :collection => @event.attendees.where("rsvp = 'Going'") %>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a>
		</div>
	</div>

	<div id="notAttendingGuests" class="modal hide">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">x</button>
			<h2>Not Coming</h2>
		</div>
		<div class="modal-body">
			<%= render :partial => "unattending_attendee", :collection => @event.attendees.where("rsvp = 'Not Going'") %>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a>
		</div>
	</div>
	<div id="undecidedGuests" class="modal hide">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">x</button>
			<h2>Undecided</h2>
		</div>
		<div class="modal-body">
			<%= render :partial => "undecided_attendee", :collection => @event.attendees.where("rsvp = 'Undecided'") %>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a>
		</div>
	</div>

<script>
	$(document).ready(function() {
		$("#guests").find("a").attr('href',document.location.pathname+"/attendees");
		$("#locationModal").attr('data-remote',document.location.pathname+"/change_location");
		$("#supplementalInfoModal").attr('data-remote',document.location.pathname+"/supplemental_info");
		$("#invite_guests").attr('href',document.location.pathname+"/attendees/add_attendees");
		$("#potluck_list").attr('href', document.location.pathname+"/potluck_items");
		$("#new_category").attr('href', document.location.pathname+"/potluck_items/new");
	
		$("#location-href").click(function(){
			$(this).show();
		});

		function removeActiveClass(){
			$("#supplemental_info").removeClass("active");
			$("#attending_guests").removeClass("active");
			$("#unattending_guests").removeClass("active");
			$("#undecided_guests").removeClass("active");
		}

		$("li").each(function (index, data){
			$(this).click(function(){
				removeActiveClass();
				$(this).addClass("active");
			});
		});
	});

</script>
