<% if flash[:notice] %>
<div class="alert alert-success" id="notice"><%= notice %></div>
<% end %>
<div class="row">
<div class="span4">
<div>
<span style="font-weight:bold;font-size:14px">Name: </span>
<span style="font-size:14px"><%= @event.name %></span>
</div><div>
<span style="font-weight:bold;font-size:14px">Start Date: </span>
<span style="font-size:14px"><%= @event.display_start_time %></span>
<span style="font-weight:bold;font-size:14px">RSVP Date: </span>
<span style="font-size:14px"><%= @event.display_rsvp_time %></span>
<div style="margin-top:1em">
<%= link_to 'Edit', edit_event_path(@event), :class=>"btn btn-link" %> | <%= link_to 'Back', events_path, :class=>"btn btn-link" %></div>
</div>
</div><div id="location_div" class="span4">
	<% if @event.location %>
		<%= @event.location1 %><br />
		<%= @event.location2 %>
	<% end %>
	<div>
		<button id="location-href" href="#locationModal" class="btn btn-primary" data-toggle="modal" style="margin:10px 0px 0px 0px">Update Location</button>
	</div>
</div>
	<div class="span4"> Put potluck outstanding items
		<div><span class="label label-success">Appetizers and Sides (0)</span></div>
		<div><span class="label label-success">Salads (0)</span></div>
		<div><span class="label label-success">Main Dishes (0)</span></div>
		<div><span class="label label-success">Sides (0)</span></div>
		<div><span class="label label-success">Desserts (0)</span></div>
		<div>Number of guest attending: <%= @event.attending_guest_count %></div>
	</div>
</div>
<div class="row">
<hr/>
<div class="span3">
<ul class="nav nav-pills nav-stacked">
	<li id="guests">
	<a>Guest list</a>
	</li>
	<li id="supplemental_info">
		<a href="#" data-target="#supplementalInfoModal" data-toggle="modal">Good to know</a>
	</li>
	<li>
		<a id="invite_guests" href="">Invite Guests</a>
	</li>
</ul>
</div><div class="span9"><iframe id="frame_content" style="width:100%;height:100%;position:relative"></iframe></div>
</div>

	<div id="locationModal" class="modal hide" data-remote="">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h2>Edit Location</h3>
		</div>
		<div class="modal-body">
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a>
		</div>
	</div>


	<div id="supplementalInfoModal" class="modal hide" data-remote="">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h2>Provide info here</h3>
		</div>
		<div class="modal-body">
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a>
		</div>
	</div>
<script>
	$(document).ready(function() {
	$("#locationModal").attr('data-remote',document.location.pathname+"/change_location");
	$("#supplementalInfoModal").attr('data-remote',document.location.pathname+"/supplemental_info");
	$("#guests").click(function(){
			$("#supplemental_info").removeClass("active");
			$(this).addClass("active");
			render_content("guests");
		});
	$("#supplemental_info").click(function(){
			$("#guests").removeClass("active");
			$(this).addClass("active");
			$("#frame_content").attr('src',"");
			$("#supplementalInfoModal").modal('show');
		});
	});

	$("#invite_guests").attr('href',document.location.pathname+"/attendees/add_attendees");
	
	$("#location-href").click(function(){
		$("#locationModal").modal('show');
	});
</script>
