<% unless flash[:notice].blank? %>
	<div id="alert alert-success"><%= flash[:notice] %></div>
<% else %>
	<div id="notice"></div>
<% end %>
<div class="row">
	<div class="span3">
		<div>
			<span style="font-weight:bold;font-size:1em">Name: </span>
			<span style="font-size:1em"><%= @event.name %></span>
		</div>
		<div>
			<div>
			<span style="font-weight:bold;font-size:1em">Start Date: </span>
			<span style="font-size:1em"><%= @event.display_start_time %></span></div>
			<div>
			<span style="font-weight:bold;font-size:1em">RSVP Date: </span>
			<span style="font-size:1em"><%= @event.display_rsvp_time %></span></div>
			<div style="margin-top:1em">
				<%= link_to 'Edit', edit_event_path(@event), :class=>"btn btn-link" %> | <%= link_to 'Back', events_path, :class=>"btn btn-link" %></div>
		</div>
	</div>
	<div id="description_div" class="span4">
		<div id="description_block_div">
			<%= render :partial =>"description", :locals => {:event => @event} %>
		</div>
		<div>
			<button id="description-href" href="#descriptionModal" class="btn btn-primary" data-toggle="modal" style="margin:10px 0px 0px 0px">Update Description and Theme</button>
		</div>
	</div>
	<div id="location_div" class="span3">
		<div id="location_block_div">
			<%= render :partial =>"location", :locals => {:event => @event } %>
		</div>
		<div>
			<button id="location-href" href="#locationModal" class="btn btn-primary" data-toggle="modal" style="margin:10px 0px 0px 0px">Update Location</button>
		</div>
	</div>
</div>
<div class="row">
	<hr/>
	<div class="span3">
	<ul class="nav nav-pills nav-stacked">
		<li>
			<a id="potluck_statistics">Potluck statistics</a>
		</li>
		<li>
		<a id="guests">Review the guest list</a>
		</li>
		<li>
			<a id="supplemental_info">Additional info for guests</a>
		</li>
		<li>
			<a id="invite_guests">Invite Guests</a>
		</li>
		<li>
			<a id="attending_guests">Who's coming?</a>
		</li>
		<li>
			<a id="unattending_guests">Who's not coming?</a>
		</li>
		<li>
			<a id="undecided_guests">Who's undecided?</a>
		</li>
		<li>
			<a id="potluck_list">view my potluck list</a>
		</li>
	</ul>
	</div>
	<div id="contentContainer" class="span6"> 
	</div>

	<div id="locationModal" class="modal hide" data-remote="">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h2>Edit Location</h2>
		</div>
		<div class="modal-body">
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a>
		</div>
	</div>


	<div id="supplementalInfoModal" class="modal hide" data-remote="">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h2>Provide info here</h2>
		</div>
		<div class="modal-body">
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a>
		</div>
	</div>

	<div id="descriptionModal" class="modal hide" data-remote="">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">x</button>
			<h2>Provide Description and Theme here</h2>
		</div>
		<div class="modal-body">
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a>
		</div>
	</div>

	<div id="newAttendeeModal" class="modal hide" data-remote="">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h2>New Guest</h2>
		</div>
		<div class="modal-body">
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a>
		</div>
	</div>

	<div id="editAttendeeModal" class="modal hide" data-remote="">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h2>Edit Guest</h2>
		</div>
		<div class="modal-body">
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a>
		</div>
	</div>

	<div id="emailModal" class="modal hide" data-remote="">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h2>Email</h2>
		</div>
		<div class="modal-body">
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a>
		</div>
	</div>

	<div id="newPotluckItemModal" class="modal hide" data-remote="">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h2>New Items</h2>
		</div>
		<div class="modal-body">
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a>
		</div>
	</div>

	<div id="editPotluckItemModal" class="modal hide" data-remote="">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Edit Potluck Category</h3>
		</div>
		<div class="modal-body">
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a>
		</div>
	</div>

<script>
	$(document).ready(function() {
		$("#locationModal").attr('data-remote',document.location.pathname+"/change_location");
		$("#descriptionModal").attr('data-remote',document.location.pathname+"/description");
		$("#newAttendeeModal").attr('data-remote',document.location.pathname+"/attendees/new");
		$("#newPotluckItemModal").attr('data-remote',document.location.pathname+"/potluck_items/new");

		$("#location-href").click(function(){
			$(this).show();
		});

		function removeActiveClass(){
			$("li").removeClass("active");
		}

		$("li").each(function (index, data){
			$(this).click(function(){
				removeActiveClass();
				$(this).addClass("active");
				displayContent($(this).find("a").attr('id'));
			});
		});

		$("#newAttendeeModal").on('hidden',function(){
			$(this).find(".modal-body").html("");
			displayContent("guests");
		});

		$("#newPotluckItemModal").on('hidden',function(){
			$(this).find(".modal-body").html("");
			displayContent("potluck_list");
		});

		$("#editAttendeeModal").on('hidden',function(){
			$(this).attr('data-remote',"");
			$(this).find(".modal-body").html("");
			displayContent("guests");
		});

		$("#editPotluckItemModal").on('hidden',function(){
			$(this).attr('data-remote',"");
			$(this).find(".modal-body").html("");
			displayContent("potluck_list");
		});

		$("#emailModal").on('hidden',function(){
			$(this).attr('data-remote',"");
			$(this).find(".modal-body").html("");
		});

		function displayContent(id){
			var idMap = {"guests": "/attendees", "supplemental_info": "/supplemental_info","invite_guests": "/attendees/add_attendees","potluck_list":"/potluck_items", "attending_guests":"/attending_guests","unattending_guests":"/unattending_guests","undecided_guests": "/undecided_guests", "potluck_statistics": "/potluck_statistics" };
			if (id == "guests"){
				$("#editAttendeeModal").find(".modal-body").empty();
			}
			$.ajax({
				url: document.location.pathname+idMap[id],
				dataType: "html",
				success: function(data){
					$("#contentContainer").empty();
					$("#contentContainer").html(data);
				}
			});
		}

		$("#potluck_statistics").click();
	});

</script>
