<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salutations!</h1>
    <p style="text-align:center;margin:2em 0 2em 0">
			Changes have been made to the following event: <%= @event.name%>.  Attached is the calendar event with the new details.  </p>
		<p>
			
			<span style="font-weight:bold">Start Date:</span> <%= @event.display_start_time %> <br/>
			<span style="font-weight:bold">End Date: </span><%= @event.display_end_time %> <br/>
			<span style="font-weight:bold">RSVP by:</span> <%= @event.display_rsvp_time %> <br/>
			<% if @event.description.blank? %>
			<span style="font-weight:bold">Description:</span> TBD <br />
			<% else %>
			<span style="font-weight:bold">Description:</span> <%= simple_format @event.description %> <br />
		  <% end %>
			<% if @event.location %>
				<span style="font-weight:bold">Location:</span>  <%= @event.location1 + ","+@event.location2 %><br/>
			<% else %>
				<span style="font-weight:bold">Location:</span> TBD<br/>
			<% end %>
		</p>

		<p>If you have the previous instance on your Google Calendar, Outlook or calendar software, please replace it with the attached.
		</p>
    <p>Thanks and have a great day!</p>

  </body>
</html>

