<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
		<div style="font-size:20px;font-style:italic;font-weight:bold">Please do not reply to this email!</div>
    <h4>Salutations!</h4>
    <p style="text-align:center;margin:2em 0 2em 0">
			<%= @host.full_name %> has invited you to their event: <%= @event.name%>. <br/>
			Start Date: <%= @event.display_start_time %>.<br/>
			RSVP: <%= @event.display_rsvp_time %>.
			<% if @event.location %>
				<span style="font-weight:bold">Location:</span>  <%= @event.location1 + ","+@event.location2 %><br/>
			<% else %>
				<span style="font-weight:bold">Location:</span> TBD<br/>
			<% end %>
		</p>
		<p style="margin-bottom:1em"> Click <%= link_to 'here', event_url(@event, :auth_token => @attendee.authentication_token) %> to RSVP.</p>
		<p>If you do wish to create an account, you may <%= link_to 'create one here', new_user_registration_url %> with the following email address: <%= @attendee.email %>.  Creating an account allows you do so much more and only takes a few seconds to do.</p>
		<p>Notify <%= @host.full_name %> at <%= @host.email %> if you wish to use a different email address.  Otherwise, please <%= link_to 'sign in', root_url %><br /><br/>
    </p>
    <p>Thanks and have a great day!</p>

  </body>
</html>

