<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Reminder for the upcoming event: <%= @event.name %></h2>
    <p>
			This is a friendly reminder that the date for the event is <%= @event.display_start_time %>. </p>

		<p>  If you have an account, please login to <%= link_to 'Lets Gather', root_url %> and do so ASAP to inform the host of any changes from your end.  Otherwise, you may update your rsvp response quickly (e.g. Number of additional guest you are bringing, your rsvp comment and/or what you are bringing to the party) by clicking <%= link_to 'here', event_url(@event, :auth_token => @attendee.authentication_token) %>.  You may also contact your host at <%= @event.user.email %> for any further inquiries.
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>

