<!DOCTYPE html>
<html>
<head>
  <title>MaximusSamurai</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="padding:1em 5em 5em 5em;">
<div class="container-fluid">
<div class="navbar">
	<div class="navbar-inner">
		<div class="nav" style="float:right">
			<div class="btn-group">
				<button class="btn dropdown-toggle" data-toggle="dropdown">Settings<span class="caret"></span></button>
				<ul class="dropdown-menu">
					<li><a id="accountLink" data-toggle="modal" href="#userModal" onclick="$(this).show();">Edit Profile</a></li>
					<li><%= link_to 'Sign out', {:controller => "devise/sessions", :action => "destroy" }, {:method => :delete} %></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<%= yield %>
</div>
<div class="modal hide" id="userModal" data-remote="/users/edit">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	</div>
	<div class="modal-body"></div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal">Close</button>
	</div>
</div>
</body>
</html>
